 .bodycolor{
    background-color: orange;
  }
  
   .coral-background {
    background-color: coral;
     box-shadow: 10px 0 10px rgba(0, 0, 0, .8),
             -10px 0 10px rgba(0, 0, 0, .8);
     }
  

  .white-background {
    background-color: white;
     box-shadow: 10px 0 10px rgba(0, 0, 0, .8),
             -10px 0 10px rgba(0, 0, 0, .8);
  }
  
  .corners {
    border-radius: 25px;
    width: 1140px;
    height: auto;
    margin-bottom:10px;
  }
  
  .corner2 {
    border-radius: 10px;
    width: 1140px;
    height: auto;
    padding:10px;
  }

  .p1 {
  margin-top: px;
  color: #002D62;
  font-size: 25px;
  font-family: serif;
  }

img.resize{
  border-radius:50px;
  width: 45%;
}

.h1color {
  text-align: center;
  font-size: 75px;
  font-family: serif;
  color: #007DC3;
}


.h2color {
  text-align: center;
  color: #000;
  font-size: 20px;
  font-family: sans-serif;
}

p {
  color: #002D62;
  font-size: 25px;
  font-family: serif;
}

a {
  color: red;
}

a:hover {
  color: green;
}
